.cardBackground{
    background-color: rgba(48, 150, 133, 0.466);
    color: #213555;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 350px;
    height: 450px;
    margin-left: -10px;
}

.cardImage{
    border-radius: 999px;
    transition: all 200ms ease-in-out;
    filter: grayscale(1);
    width: 65%;
    justify-content: center;
    margin-left: 5px;
}

.cardBackground:hover .cardImage{
    border-radius: 10px;
    filter: grayscale(0);
}

.cardBackground:hover{
    box-shadow: rgba(48, 150, 133, 0.466) -5px 5px, rgba(48, 150, 133, 0.466) -10px 10px, rgba(48, 150, 133, 0.466) -15px 15px, rgba(48, 150, 133, 0.466) -20px 20px, rgba(48, 150, 133, 0.466) -25px 25px;
}

.cardTitle{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px rgb(29, 141, 141);
    width: 100%;
    text-align: center;
}

 