/* mobile first, celular primeiro */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/harry.mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}


/* agora serve para o desktop */
@media (width >= 768px){
  body{
    background-image: url('/harry.pc.jpg');
  }
  input{
    width: 300px;
    font-size: 15px;
  }
}